.DS_Store
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/webapp/InitPrototype/nbproject/private/
/webapp/InitPrototype/build/
/webapp/InitPrototype/dist/
/webapp/WebNectar/nbproject/private/
/webapp/WebNectar/build/
/webapp/WebNectar/InitPrototype/build/
/webapp/WebNectar/InitPrototype/nbproject/private/
/webapp/NectarWeb/dist/
/webapp/NectarWeb/build/
/webapp/NectarWeb/nbproject/private/
/webapp/NectarWebApp/build/
/webapp/NectarWebApp/nbproject/private/
/webapp/NectarWebApp/dist/
/webapp/Test/build/
/webapp/Test/nbproject/private/
/webapp/NectarNetbeans/nbproject/private/
/webapp/NectarNetbeans/build/
/webapp/NectarNetbeans/dist/